<
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعديل كلمة المرور</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_admin.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon3.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="form-container">
        <h2>تعديل كلمة المرور</h2>

        <!-- عرض الرسائل -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li style="color: {% if category == 'success' %}green{% else %}red{% endif %};">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form id="changePasswordForm" method="POST" action="/change_password">
            <!-- كلمة المرور الحالية -->
            <label for="current_password">كلمة المرور الحالية:</label>
            <input type="password" id="current_password" name="current_password" required>
            <!-- كلمة المرور الجديدة -->
            <label for="new_password">كلمة المرور الجديدة:</label>
            <input type="password" id="new_password" name="new_password" required>
            <button type="submit">تغيير كلمة المرور</button>
        </form>
        <a href="/admin">عودة إلى لوحة التحكم</a>
    </div>
</body>
</html>