<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تحديث بيانات المطعم</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_dashboard.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon3.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="form-container">
        <h2>تحديث بيانات المطعم</h2>
        <form id="updateRestaurantCredentialsForm">
            <!-- اسم المستخدم الجديد -->
            <label for="new_username">اسم المستخدم الجديد:</label>
            <input type="text" id="new_username" name="new_username">
            
            <!-- كلمة المرور الجديدة -->
            <label for="new_password">كلمة المرور الجديدة:</label>
            <input type="password" id="new_password" name="new_password">
            
            <button type="submit">تحديث البيانات</button>
        </form>
    </div>




    <script>
        document.getElementById("updateRestaurantCredentialsForm").addEventListener("submit", function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch("/update_credentials", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message); // عرض رسالة النجاح
                    location.reload(); // تحديث الصفحة بعد النجاح
                } else {
                    alert(data.error); // عرض رسالة الخطأ
                }
            })
            .catch(error => console.error("Error:", error));
        });

    </script>

</body>
</html>